
*.suo
*.user
_ReSharper.*/
.vs
BerlinClock/bin/
BerlinClock/obj/
BerlinClock/Debug/
BerlinClock/Release/
BerlinClock/packages/
BerlinClockTests/bin/
BerlinClockTests/obj/
BerlinClockTests/Debug/
BerlinClockTests/Release/
BerlinClockTests/packages/
BerlinClockAcceptanceTests/bin/
BerlinClockAcceptanceTests/obj/
BerlinClockAcceptanceTests/Debug/
BerlinClockAcceptanceTests/Release/
BerlinClockAcceptanceTests/packages/
